.password-entry-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 40px;
    background-color: #f5f5f5;
    border-radius: 5px;
    align-items: center;
  }
  
  .password-entry-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .password-entry-container form {
    display: flex;
    flex-direction: column;
  }
  
  .password-entry-container label {
    margin-bottom: 10px;
  }
  
  .password-entry-container input {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 94%;
    align-items: center;
  }
  
  .password-entry-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .validation-message {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
  }